<section id="contact" class="pt-32 pb-16">
  <div class="container">
    <div class="w-full px-4">
      <div class="max-w-xl mx-auto text-center mb-16">
        <h2 class="text-4xl font-bold text-center text-teal-600 mb-10">
          Contact Me
        </h2>
      </div>

      <div class="w-full flex flex-wrap">
        <div class="mb-12 justify-center md:w-1/2 mx-auto px-8">
          <h3 class="font-semibold text-xl py-4">Get in Touch</h3>
          <p class="font-medium text-base mb-5 w-full lg:w-1/2">
            Fill out the form below to get in touch with me. I'm always excited
            to hear about new opportunities and I'll do my best to respond to
            your inquiry within 24 hours.
          </p>

          <div class="flex items-center space-x-3 py-3">
            <span class="material-icons">
              <img
                class="w-[32px] h-[32px] grayscale"
                src="{{ url_for('static', filename='/images/icons/map-pin.svg') }}"
                alt="map-pin"
              />
            </span>
            <p class="w-full lg:w-1/2">
              Jl. Jaha Gg. Sa'ian RT 09 RW 01, Cilandak Timur, Jakarta Selatan
              Indonesia
            </p>
          </div>

          <div class="flex items-center space-x-3 py-3">
            <span class="material-icons">
              <img
                class="w-[32px] h-[32px] grayscale"
                src="{{ url_for('static', filename='/images/icons/headphone.svg') }}"
                alt="headphone"
              />
            </span>
            <p>+6285156919521</p>
          </div>
          <div class="flex items-center space-x-3 py-3">
            <span class="material-icons">
              <img
                class="w-[32px] h-[32px] grayscale"
                src="{{ url_for('static', filename='/images/icons/email.svg') }}"
                alt="email.svg"
              />
            </span>
            <p>akbarfitriawan12@gmail.com</p>
          </div>
          <h3 class="font-semibold text-xl py-4">Socials</h3>
          <div class="flex space-x-4 mb-4">
            <a
              href="/"
              target="_blank"
              class="mr-3 flex h-9 w-9 items-center justify-center rounded-lg border border-slate-600 hover:bg-blue-900 hover:border-white shadow-md opacity-80"
            >
              <img
                class="w-[25px] h-[25px] grayscale"
                src="{{ url_for('static', filename='/images/icons/x.svg') }}"
                alt="x"
              />
            </a>
            <a
              href="#"
              target="_blank"
              class="mr-3 flex h-9 w-9 items-center justify-center rounded-lg border border-slate-600 hover:bg-blue-900 hover:border-white shadow-md opacity-80"
            >
              <img
                class="w-[25px] h-[25px] grayscale"
                src="{{ url_for('static', filename='/images/icons/discord.svg') }}"
                alt="discord"
              />
            </a>
            <a
              href="#"
              target="_blank"
              class="mr-3 flex h-9 w-9 items-center justify-center rounded-lg border border-slate-600 hover:bg-blue-900 hover:border-white shadow-md opacity-80"
            >
              <img
                class="w-[25px] h-[25px] grayscale"
                src="{{ url_for('static', filename='/images/icons/linkdin.svg') }}"
                alt="linkdin"
              />
            </a>
            <a
              href="#"
              target="_blank"
              class="mr-3 flex h-9 w-9 items-center justify-center rounded-lg border border-slate-600 hover:bg-blue-900 hover:border-white shadow-md opacity-80"
            >
              <img
                class="w-[25px] h-[25px] grayscale"
                src="{{ url_for('static', filename='/images/icons/github.svg') }}"
                alt="github"
              />
            </a>
          </div>
        </div>
        <div class="w-full mb-12 p4 lg:w-1/2 mx-auto">
          <div>
            <!-- Tampilkan flash message -->
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %}
            <ul>
              {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %} {% endwith %}
          </div>

          <form action="{{ url_for('main.send_message') }}" method="POST">
            <div class="grid gap-2 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Name</label
                >
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="John Doe"
                  required
                />
              </div>
              <div>
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Email address</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="john.doe@example.com"
                  required
                />
              </div>
            </div>
            <div class="mb-6">
              <label
                for="subject"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Subject</label
              >
              <input
                type="text"
                id="email"
                name="subject"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Your Subject"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="message"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Your message</label
              >
              <textarea
                id="message"
                rows="4"
                name="message"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write your thoughts here..."
              >
              </textarea>
            </div>

            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 shadow-lg"
            >
              <span>
                <svg
                  width="16"
                  height="16"
                  class="w-[25px] h-[25px] grayscale inline-block"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1"
                  width="256"
                  height="256"
                  viewBox="0 0 256 256"
                  xml:space="preserve"
                >
                  <defs></defs>
                  <g
                    style="
                      stroke: none;
                      stroke-width: 0;
                      stroke-dasharray: none;
                      stroke-linecap: butt;
                      stroke-linejoin: miter;
                      stroke-miterlimit: 10;
                      fill: none;
                      fill-rule: nonzero;
                      opacity: 1;
                    "
                    transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
                  >
                    <path
                      d="M 83.924 7.756 L 4.202 38.496 c -5.442 2.183 -5.409 5.219 -0.992 6.571 l 20.455 6.385 l 7.035 23.153 c 0.925 2.553 0.469 3.566 3.151 3.566 c 2.069 0 2.983 -0.946 4.138 -2.069 l 9.941 -9.666 l 20.681 15.28 c 3.806 2.1 6.553 1.012 7.501 -3.533 l 13.577 -63.978 C 91.079 8.631 87.565 6.103 83.924 7.756 z"
                      style="
                        stroke: none;
                        stroke-width: 1;
                        stroke-dasharray: none;
                        stroke-linecap: butt;
                        stroke-linejoin: miter;
                        stroke-miterlimit: 10;
                        fill: rgb(33, 151, 201);
                        fill-rule: nonzero;
                        opacity: 1;
                      "
                      transform=" matrix(1 0 0 1 0 0) "
                      stroke-linecap="round"
                    />
                    <path
                      d="M 33.942 72.016 l -6.747 -22.204 L 79.13 19.002 L 40.751 56.789 L 33.942 72.016 z"
                      style="
                        stroke: none;
                        stroke-width: 1;
                        stroke-dasharray: none;
                        stroke-linecap: butt;
                        stroke-linejoin: miter;
                        stroke-miterlimit: 10;
                        fill: rgb(255, 255, 255);
                        fill-rule: nonzero;
                        opacity: 1;
                      "
                      transform=" matrix(1 0 0 1 0 0) "
                      stroke-linecap="round"
                    />
                  </g>
                </svg>
              </span>
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
