<footer class="bg-slate-800 dark:bg-dark pt-6">
  <div class="container mx-auto flex flex-col p-5 text-white">
    <!-- Copyright text -->
    <p class="text-center text-sm">
      Copyright &copy; {{ current_year }}
      <a href="/" class="text-pink-500">{{owner_name}}</a>. All Rights Reserved.
    </p>

    <!-- Links to terms and policy -->
    <div class="flex space-x-4 text-sm mt-2 py-3 mx-auto mb-2">
      <a href="#" class="hover:underline">Terms & Policy</a>
      <a href="#" class="hover:underline">Disclaimer</a>
    </div>

    <p class="text-sm text-center">
      Created using <span class="text-blue-500">tailwindcss</span> &
      <span class="text-amber-400">flask</span>
    </p>
  </div>
</footer>
