<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="container mx-auto flex flex-col items-center p-5">
    <!-- Copyright text -->
    <p class="text-center text-sm">
      Copyright &copy; {{ current_year }}
      <a href="/" class="text-pink-500">{{owner_name}}</a>. All Rights Reserved.
    </p>

    <!-- Links to terms and policy -->
    <div class="flex space-x-4 text-sm mt-2 py-3 mx-auto mb-2">
      <a href="#" class="hover:underline">Terms & Policy</a>
      <a href="#" class="hover:underline">Disclaimer</a>
    </div>
  </div>
</footer>
