{% extends "base.html" %} {% block title %}{{ name }}{% endblock %} {% block
content %}

<!-- hero_saction -->
{% block hero_saction %} {% include 'snippets/hero_section.html' %} {% endblock
%}
<!-- end hero_saction -->

<!-- about -->
{% block about_section %} {% include 'snippets/about.html' %} {% endblock %}
<!-- end about -->

<!-- services -->
{% block services %} {% include 'snippets/services.html' %}{% endblock %}
<!-- end services -->

<!-- portfolio -->
{% block portfolio %} {% include 'snippets/portfolio.html' %}{% endblock %}
<!-- end portfolio -->

<!-- blog -->
{% block blog %} {% include 'snippets/blog.html' %} {% endblock %}
<!-- end blog -->

<!-- contact -->

{% block contact %} {% include 'snippets/contact.html' %} {% endblock %}
<!-- end contact -->

{% endblock %}
