{% extends "base.html" %} {% block title %}{{ name }}{% endblock %} {% block
content %}

<!-- hero_saction -->
{% block hero_saction %} {% include 'hero_section.html' %} {% endblock %}
<!-- end hero_saction -->

<!-- about -->
{% block about_section %} {% include 'about.html' %} {% endblock %}
<!-- end about -->

<!-- services -->
{% block services %} {% include 'services.html' %}{% endblock %}
<!-- end services -->

<!-- portfolio -->
{% block portfolio %} {% include 'portfolio.html' %}{% endblock %}
<!-- end portfolio -->

<!-- blog -->
{% block blog %} {% include 'blog.html' %} {% endblock %}
<!-- end blog -->

<!-- contact -->

{% block contact %} {% include 'contact.html' %} {% endblock %}
<!-- end contact -->

{% endblock %}
